<!DOCTYPE html>
<html >
<head>
<body>
<img src="static/image/PIET logo with tagline.jpg"  width="1200" height="100">
<h1 style="text-align:center";>GitHub Account link for mini Projects done during the Internship</h1>
<p> 1. Linear Regression
<br>
<a href= "https://github.com/nitish12032002/Linear_Regression_A">Click here</a></p>
<br>
<a href= "https://github.com/nitish12032002/Linear_Regression_B">Click here</a></p>
<br>
<a href= "https://github.com/nitish12032002/Linear_Regression_C">Click here</a></p>



<p> 2. Decision Tree
<br>
<a href= "https://github.com/nitish12032002/Decision_Tree_A">Click here</a></p>
<br>
<a href= "https://github.com/nitish12032002/Decision_Tree_B">Click here</a></p>


<p> 3. Support Vector Machine & Random Forest
<br>
<a href= "https://github.com/nitish12032002/Support_Vector_A">Click here</a>


<p> 4. K-neighbor nearest
<br>
<a href= "https://github.com/nitish12032002/K_Nearest_A">Click here</a>
<br>
<a href= "https://github.com/nitish12032002/K_Nearest_B">Click here</a></p>

<p> 5. Naive Bayes
<br>
<a href= "https://github.com/nitish12032002/Naive_Bayes_A">Click here</a></p>
<br>
<a href= "https://github.com/nitish12032002/Naive_Bayes_B">Click here</a></p>





<div class="container" >
   <style>
       .GFG {
           background-color:blue;
           border: 2px solid black;
           color: white;
           padding: 5px 5px;
           text-align: center;
           display: inline-block;
           font-size: 20px;
           margin: 5px 50px;
           cursor: pointer;
       }
   </style>
    <button class="GFG" 
   onclick="window.location.href = '/';">
        Visit Home Page
    </button>
   <button class="GFG"
   onclick="window.location.href = '/index2';">
        NLP Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index3';">
        Model Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index4';">
       Model Prediction
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index2';">
      VISIT NEXT PAGE-->>
   </button>
   
 </div>
 <br>
 <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 60px;">

            <marquee style="background-color:blue;color:white; margin-top: 7px;">
                <h9>Designed and Developed by NITISH NAMA, Student, 2nd Year, Poornima institute of engineering & technology, Department of Computer Engineering</h9>
            </marquee>
        </div>
    </div>

</head>
</html>